/* https://coolors.co/e4a7af-954b88-8c4883-ffffff */
html,
body {
    width: 100%;
    height: 100%;
    font-family: 'EB Garamond', serif;
}
.top-card {
    margin-top: 100px;
    border: none;
    box-shadow: none;
}
.card {
    min-height: 20% !important;
}
.nav-logo {
    max-width: 50vw;
}
.navbar{
    font-size: 1.3em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: white;
}
.navbar-button-custom {
    margin: 12px 0;
}

.navbar-toggler-icon,
.navbar-button-custom {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNNCAyMmgtNHYtNGg0djR6bTAtMTJoLTR2NGg0di00em0wLThoLTR2NGg0di00em0zIDB2NGgxN3YtNGgtMTd6bTAgMTJoMTd2LTRoLTE3djR6bTAgOGgxN3YtNGgtMTd2NHoiLz48L3N2Zz4=") !important;
}
.navbar-custom {
    padding: 0 8px;
}
.welcome-section {
    display: grid;
    place-items: center;
    margin-bottom: 50px;
}
.welcome-image {
    max-width: 90vw;
}
.welcome-text {
    max-width: 90vw;
    display: grid;
}
.card-custom {
    margin: 0px 20px;
}

.button-main {
	background-color:#e4a7af;
	-webkit-border-top-left-radius:3px;
	-moz-border-radius-topleft:3px;
	border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
	-moz-border-radius-topright:3px;
	border-top-right-radius:3px;
	-webkit-border-bottom-right-radius:3px;
	-moz-border-radius-bottomright:3px;
	border-bottom-right-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-bottomleft:3px;
	border-bottom-left-radius:3px;
    text-indent:0;
	border:1px solid #e4a7af;
	display:inline-block;
	color:#000000;
	font-size:18px;
	font-style:normal;
    height:50px;
	line-height:50px;
    width:140px;
	text-align:center;
    place-self: center;
}
.button-main:hover {
	background-color:#f8b3be;
}
.button-main:active {
	position:relative;
	top:1px;
}

.atricles-header{
    font-size: 20px;
    margin: 0;
    color: #000000;
    background-color: #e4a7af;
    display: inline;
    border-bottom: 1px solid #e4a7af;
    padding: 0 10px;
}

header {
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
    border-bottom: 1px solid #e4a7af;
}
.band {
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}

.card {
    background: white;
    text-decoration: none;
    color: #000000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    top: 0;
    transition: all .1s ease-in;
}

.card:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}

article {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p {
    flex: 1;
    line-height: 1.4;
}

span {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    letter-spacing: .05em;
    margin: 2em 0 0 0;
}

.thumb {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
}

footer {
    font-size: 1.1rem;
    text-align: center;
    background-color: #e4a7af;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, auto);
}
.love {
    grid-row: 6/6;
    grid-column: 2/5;
    align-self: flex-end;
}
a {
    color: #000000;
    text-decoration: none;
}
a:hover {
    cursor: pointer;
    color: #000000;
}
.instagram {
    grid-row: 3/3;
}
.gmail {
    grid-row: 4/4;
}
.heart {
    grid-row: 5/5;
}
.heart,
.gmail,
.instagram {
    padding: 10px;
    height: 70px;
    grid-column: 3/4;
}
.footer-header {
    font-weight: 500;
    margin-top: 15px;
    grid-column: 1/6;
    grid-row: 1/2;
}

footer > * {
    align-self: center;
    justify-self: center;
}

.footer-line {
    grid-row: 5/6;
    grid-column: 2/5;
    border-bottom: 1px solid #333;
    align-self: auto;
    justify-self: auto;
}
.footer-contacts {
    grid-column: 1/6;
    grid-row: 2/2;
}
.footer-paragraph {
    display: block;
}

@media (min-width: 450px) {
    .band{
        grid-template-columns: 1fr 1fr;
    }
    .nav-logo {
        max-width: 30vw;
    }
    footer {
        grid-template-columns: repeat(7, 1fr);
    }
    .footer-line {
        grid-column: 3/6;
    }
    .footer-header {
        grid-column: 3/6;
        font-size: 1.3em;
    }
    .gmail {
        grid-column: 3/3;
        grid-row: 4/5;
    }
    .instagram {
        grid-column: 4/4;
        grid-row: 4/5;
    }
    .heart {
        grid-column: 5/5;
        grid-row: 4/5;
    }
    .love {
        grid-column: 4/4;
        text-align: center;
    }
    .footer-paragraph {
        padding: 0px 10px;
        align-self: center;
        justify-self: center;
        line-height: 2.5;
    }
    .footer-contacts {
        grid-column: 4/4;
    }

}

@media (min-width: 1000px) {
    .item-1 {
        grid-column: 1 / span 2;
    }
    h1 {
        font-size: 24px;
    }
    .band{
        grid-template-columns: repeat(4, 1fr);
    }
    .nav-logo {
        max-width: 15vw;
    }
    .author {
        grid-column: 6/10;
        grid-row: 2/4;
    }
    .about-me-food {
        grid-column: 3/6;
        grid-row: 7/11;
        max-width: 100%;
    }
    .about-me-main {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, auto);
    }
    .about-me-left {
        grid-column: 3/6;
        grid-row: 2/5;
    }
    .about-me-right {
        grid-column: 7/10;
        grid-row: 7/10;
    }
}

/* about me specifics */
.author {
    margin: 0;
    max-width: 90%;
}
.about-me-food {
    max-width: 100%;
}
.about-me-main {
    margin: 150px 20px;
}
.about-me {
    margin: 10px 20px;
}