/* https://coolors.co/e4a7af-954b88-8c4883-ffffff */
html,
body {
    width: 100%;
    height: 100%;
    font-family: 'EB Garamond', serif;
}
.top-card {
    margin-top: 100px;
    border: none;
    box-shadow: none;
}
.card {
    min-height: 20% !important;
}
.nav-logo {
    max-width: 50vw;
}
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: white;
}
.navbar-button-custom {
    margin: 12px 0;
}

.navbar-custom {
    padding: 0 8px;
}

.card-custom {
    margin: 0px 20px;
}

.atricles-header{
    font-size: 20px;
    margin: 0;
    color: #333;
    background-color: #e4a7af;
    display: inline;
    border-bottom: 1px solid #e4a7af;
    padding: 0 10px;
}

header {
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
    border-bottom: 1px solid #e4a7af;
}
.band {
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}

.card {
    background: white;
    text-decoration: none;
    color: #444;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    top: 0;
    transition: all .1s ease-in;
}

.card:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}

article {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p {
    flex: 1;
    line-height: 1.4;
}

span {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    letter-spacing: .05em;
    margin: 2em 0 0 0;
}

.thumb {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
}

footer {
    font-size: 1.1rem;
    text-align: center;
    background-color: #e4a7af;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, auto);
}
.love {
    grid-row: 5/5;
    grid-column: 2/5;
    align-self: flex-end;
}
a {
    color: #333;
}
a:hover {
    cursor: pointer;
}
.instagram {
    grid-row: 3/3;
}
.gmail {
    grid-row: 4/4;
}
.gmail,
.instagram {
    padding: 10px;
    height: 70px;
    grid-column: 3/4;
}
.footer-header {
    font-weight: 500;
    margin-top: 15px;
    grid-column: 1/6;
    grid-row: 1/2;
}

footer > * {
    align-self: center;
    justify-self: center;
}

.footer-line {
    grid-row: 4/5;
    grid-column: 2/5;
    border-bottom: 1px solid #333;
    align-self: auto;
    justify-self: auto;
}
.footer-contacts {
    grid-column: 1/6;
    grid-row: 2/2;
}
.footer-paragraph {
    display: block;
}

@media (min-width: 30em) {
    .band{
        grid-template-columns: 1fr 1fr;
    }
    .nav-logo {
        max-width: 30vw;
    }
    footer {
        grid-template-columns: repeat(7, 1fr);
    }
    .footer-line {
        grid-column: 3/6;
    }
    .gmail,
    .instagram,
    .footer-header {
        grid-column: 3/6;
        font-size: 1.3em;
    }
    .love {
        grid-column: 4/4;
        text-align: center;
    }
    .footer-paragraph {
        padding: 0px 10px;
        align-self: center;
        justify-self: center;
        line-height: 2.5;
    }
    .footer-contacts {
        grid-column: 4/4;
    }
}

@media (min-width: 60em) {
    .item-1 {
        grid-column: 1 / span 2;
    }
    h1 {
        font-size: 24px;
    }
    .band{
        grid-template-columns: repeat(4, 1fr);
    }
    .nav-logo {
        max-width: 15vw;
    }
}
